@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply 
    relative flex items-center justify-center
    mx-auto
    hover:bg-greenbg hover:border-l-4 
    hover:border-primary hover:w-full;
  }

  .sidebar-icon-selected {
    @apply 
    relative flex items-center justify-center
    mx-auto
    bg-greenbg border-l-4 border-primary w-full;
  }

  .sidebar {
    @apply
    fixed top-0 shadow-xl flex flex-col bg-white text-[grey] list-none transition-all
    md:h-full md:w-16 md:m-0 md:left-0
    -left-full
  }

  .active {
    @apply
    left-0 w-full mt-16 z-10 md:w-16 md:mt-0
  }

  body {
    @apply
    md:mt-4 md:mr-7 md:ml-[6rem] md:mb-3 mx-4 mt-16
    h-full bg-greenbg;
  }

  .box {
    @apply
    bg-white text-black
    min-h-full min-w-full
    rounded-lg shadow-lg
    my-5;
  }

  .grey-title {
    @apply
    text-[grey] text-xs my-2;
  }

  .casual-black-text {
    @apply
    text-black text-sm mb-4;
  }

  .red-button {
    @apply
    bg-[red] text-white active:bg-[#da0909] font-semibold uppercase text-sm px-4 py-2 rounded-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-4 ease-linear transition-all duration-150
  }

  .green-button {
    @apply
    bg-emerald-500 text-white active:bg-emerald-600 font-semibold uppercase text-sm px-4 py-2 rounded-2xl shadow hover:shadow-lg outline-none focus:outline-none mr-4 ease-linear transition-all duration-150
  }

  .green-button-long {
    @apply
    bg-emerald-500 text-white active:bg-emerald-600 font-semibold uppercase text-sm px-4 py-2 rounded-2xl shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150 w-5/6 mb-3
  }
}